// COLORS
$teal: #2EC4B6;
$blue: #4D9DE0;
$dark-blue: #1057AA;
$red: #DD614A;
$yellow: #F3DE8A;
$green: #60D394;
$orange: #FF9F00;

@import 'vendor/0-dir';
@import 'modules/0-dir';
@import 'layouts/0-dir';

* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	background-color: #F9F9F9 !important;
	font-family: 'Open Sans', sans-serif;
}

img {
	display: block;
	vertical-align: middle;
}

a {
	text-decoration: none;
	&:hover, &:active, &:focus {
		text-decoration: none;
		outline: none;
	}
	&.white-link {
		color: #fff;
		&:hover, &:active, &:focus {
			color: #fff;
		}
	}
}

.container {
	margin: 0 auto;
	display: block;
	width: 100%;
	padding: 0 10px;
	max-width: 1500px;
}

.u-bold {
	font-weight: bold;
}

.u-red {
	color: $red;
}

.u-blue {
	color: $blue;
}

.u-dark-blue {
	color: $dark-blue;
}

.u-green {
	color: $green;
}

.u-orange {
	color: $orange;
}

.u-pull-left {
	float: left;
}

.u-pull-right {
	float: right;
}

.u-relative {
	position: relative;
}

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
/* close commented backslash hack */