---
title: Title of Action | Profecta
---

<div class="action-popup">
	<div class="action-popup-container">
		<div class="container">
			<article class="popup-body">
				<section class="black-heading">
					<div class="group">
						<img class="heading-logo" src="images/action-icon.png">
						<h5 class="action-number">#15</h5>
						<h2 class="action-name">Action Name goes here and gets cut off if its really long</h2>
						<button id="assignedTo" class="action-status assigned mdl-button mdl-js-button">
							Assigned <i class="icon-down-open-mini"></i>
						</button>
						<ul class="mdl-small-list mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
						    for="assignedTo">
						  <li class="mdl-menu__item">In Progress</li>
						  <li class="mdl-menu__item">Under Review</li>
						  <li class="mdl-menu__item">Complete</li>
						</ul>
						<section class="action-user">
							<div class="group">
								<img src="images/example.jpg">
								<div class="text">
									<span class="name">John Doe</span>
									<span class="role">Product Manager</span>
								</div>
							</div>
						</section>
						<div class="options">
							<a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="icon-pencil"></i></a>
							<a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="icon-comment"></i></a>
							<a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="icon-cog"></i></a>
						</div>
						<a href="" class="close-button mdl-button mdl-js-button mdl-js-ripple-effect"><i class="icon-cancel"></i></a>
					</div>
				</section>
				<div class="flex-container">
					<section class="primary-column">
						<div class="row-height">
							<div class="group">
								<h5 class="due-date">Due: <span class="u-green">September 12, 2016 (4 days)</span></h5>
								<h5 class="priority">Priority Level</h5> <!-- use .high, .medium, and .low, no extra class for empty -->
							</div>
							<a href="" class="epic-link">Add epic: User story will go here and link and have a hover effect, I think it could span to the end here. Some example to make it super long.</a>
							<div class="reviewer-effort group">
								<p class="empty">Reviewer: <span>N/A</span></p> <!-- use .empty when empty -->
								<p class="empty">Effort: <span>N/A</span></p> <!-- use .empty when empty -->
							</div>
							<div class="u-line-divider"></div>
							<div class="content-heading group">
								<p>Describe Your Action:</p>
								<p class="updated">Last updated today 8:00PM (PST) by <span>me</span></p>
							</div>
							<div class="content-body">
								<p>
									Sed ut perspiciatis unde <span class="linked-text"><span class="linked-number">1</span>iste natus error sit voluptatem accusantium doloremque</span> laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae <strong>vitae dicta sunt explicabo</strong>. Nemo enim ipsam voluptatem quia
								</p>
								<p>
									voluptas sit aspernatur <span class="annotation">aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</span> voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
								</p>
							</div>
							<h5>Example List</h5>
							<ul class="normal-list">
								<li>List Item</li>
								<li>List Item</li>
								<li>List Item</li>
								<li>List Item</li>
							</ul>
							<h5 class="checklist-title"><i class="icon-menu"></i> Checklist Name <span>2/3</span></h5>
							<ul class="checklist-list">
								<li>
									<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
									  <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked>
									  <span class="mdl-checkbox__label">quasi architecto beatae vitae dicta sunt explicabo</span>
									</label>
									<button id="list-contextual-1"
									        class="contextual mdl-button mdl-js-button mdl-button--icon">
									  <i class="material-icons">more_vert</i>
									</button>
									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
									    for="list-contextual-1">
									  <li class="mdl-menu__item">Edit</li>
									  <li class="mdl-menu__item">Archive</li>
									</ul>
								</li>
								<li>
									<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-2">
									  <input type="checkbox" id="list-checkbox-2" class="mdl-checkbox__input">
									  <span class="mdl-checkbox__label">Beatae vitae dicta sunt explicabo</span>
									</label>
									<button id="list-contextual-2"
									        class="contextual mdl-button mdl-js-button mdl-button--icon">
									  <i class="material-icons">more_vert</i>
									</button>
									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
									    for="list-contextual-2">
									  <li class="mdl-menu__item">Edit</li>
									  <li class="mdl-menu__item">Archive</li>
									</ul>
								</li>
								<li>
									<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-3">
									  <input type="checkbox" id="list-checkbox-3" class="mdl-checkbox__input" checked>
									  <span class="mdl-checkbox__label">Architecto beatae vitae dicta sunt explicabo</span>
									</label>
									<button id="list-contextual-3"
									        class="contextual mdl-button mdl-js-button mdl-button--icon">
									  <i class="material-icons">more_vert</i>
									</button>
									<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
									    for="list-contextual-3">
									  <li class="mdl-menu__item">Edit</li>
									  <li class="mdl-menu__item">Archive</li>
									</ul>
								</li>
							</ul>
							<a href="">Add New Checklist Item</a>
							<div class="created-date">Created on Aug 8th 2016 PST by <span>John Doe</span></div>
						</div>
					</section>
					<section class="side-column">
						<div class="row-height">
							<h5 class="collapse-heading">
								Attachments
								<button class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="icon-plus"></i></button>
							</h5>
							<h5 class="side-heading">Multimedia Files</h5>
							<form class="file-uploader">
								<div class="foreground">
									<i class="icon-attach"></i>
									<p>
										Upload images or visual assets and link it in the card description to keep things organized
									</p>
								</div>
								<div class="file-uploader-body"></div>
								<input type="file">
							</form>
							<h5 class="side-heading">All Other Files</h5>
							<div class="group">
								<a href="" class="other-file">
									<i class="icon-file-archive"></i>
									thefiles.zip
								</a>
								<a href="" class="other-file">
									<span class="annotation">1</span>
									<i class="icon-file-pdf"></i>
									mockup1.pdf
								</a>
								<a href="" class="other-file">
									<i class="icon-file-word"></i>
									copy.doc
								</a>
								<a href="" class="other-file">
									<i class="icon-file-word"></i>
									nameoffile.doc
								</a>
							</div>
							<div class="group">
								<a href="" class="other-file">
									<i class="icon-file-code"></i>
									layout.html
								</a>
								<a href="" class="other-file">
									<i class="icon-file-code"></i>
									home.html
								</a>
							</div>
							<h5 class="collapse-heading">
								Sub Actions
								<button class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="icon-plus"></i></button>
							</h5>
							<article class="kan-ban-card sub-action-card">
								<span class="sub-action-status review">
									Under Review
								</span><!-- Use .progress, .review, .assigned, .completed-->
								<div class="group">
									<div class="name">
										<span class="card-number">#301</span>
										<h5>Title of the action</h5>
									</div>
									<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
									<div class="group">
										<div class="stats">
											<div class="stats-column">
												Priority: <span class="u-bold u-dark-blue">Low</span>
											</div>
											<div class="stats-column">
												Effort: <span class="u-bold">2 Hours</span>
											</div>
										</div>
									</div>
									<div class="due-date overdue">
										<i class="icon-calendar"></i><span>Past Due Date</span>
									</div>
								</div>
								<!-- Right aligned menu below button -->
								<button id="contextual-3b"
								        class="contextual mdl-button mdl-js-button mdl-button--icon">
								  <i class="material-icons">more_vert</i>
								</button>
								<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
								    for="contextual-3b">
								  <li class="mdl-menu__item">Some Action</li>
								  <li class="mdl-menu__item">Another Action</li>
								  <li disabled class="mdl-menu__item">Disabled Action</li>
								  <li class="mdl-menu__item">Yet Another Action</li>
								</ul>
								<a id="ttStaticAssignee3" href="" class="assignee">
									<%= image_tag 'example3.jpg' %>
								</a>
								<div class="mdl-tooltip" data-mdl-for="ttStaticAssignee3">
									John Doe
								</div>
							</article>
						</div>
					</section>
				</div>
			</article>
		</div>
	</div>
</div>