// BUTTONS

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
	background-color: #4D9DE0;
	color: #fff;
	padding:0 25px;
	&:hover {
		background-color: lighten(#4D9DE0, 5%);
	}
	.mdl-ripple {
		background: rgb(250,250,250);
	}
}

.mdl-button {
	text-transform: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	min-width: 0;
}

.u-pill-btn {
	border-radius: 18px;
	overflow: hidden;
	.mdl-button__ripple-container {
		border-radius: 18px;
	}
}

.mdl-menu {
	padding: 0;
}

.mdl-with-content {
	padding: 10px;
}

.actions-dropdown {
	min-width: 420px;
	padding: 0;
	text-align: left;
	li {
		&:first-of-type {
			a {
				padding:10px 10px 9px 10px;
			}
		}
		&:last-of-type {
			a {
				border-bottom: none;
			}
		}
	}
	a {
		color: #333;
		display: block;
		padding: 10px;
		border-top: 1px solid #eee;
		font-size: 12px;
		i {
			font-size: 12px;
			line-height: 1;
		}
		&:hover {
			background-color: #f6f6f6;
		}
		&.clear-link {
			font-weight: bold;
			font-size: 14px;
			transition: all 0.2s ease-out;
			color: $blue;
			height: 45px;
			i {
				font-size: 14px;
			}
			&:hover {
				padding: 10px 10px 9px 15px;
			}
		}
		&.view-link {
			background-color: $teal;
			font-weight: bold;
			border: none;
			font-size: 14px;
			transition: all 0.2s ease-out;
			color: #fff;
			height: 45px;
			i {
				font-size: 14px;
			}
			&:hover {
				color: #fff;
				padding: 10px 10px 10px 15px;
			}
		}
		.u-blue {
			font-weight: bold;
		}
	}
}