// BUTTONS

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
	background-color: #4D9DE0;
	color: #fff;
	padding:0 25px;
	&:hover {
		background-color: lighten(#4D9DE0, 5%);
	}
	.mdl-ripple {
		background: rgb(250,250,250);
	}
}

.mdl-button {
	text-transform: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	min-width: 0;
}

.u-pill-btn {
	border-radius: 18px;
	overflow: hidden;
	.mdl-button__ripple-container {
		border-radius: 18px;
	}
}

.mdl-menu {
	padding: 0;
}